@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@400;600&display=swap');

body {
 background-color: rgb(233, 233, 233);
 font-family: 'Montserrat', sans-serif;
 margin: 0px 0px;
}

h1 {
  font-size: 24px;
  color: #6A5F55;
}

h2 {
  font-size: 16px;
  color: #C5A871;
}

h1, h2 {
   font-family: 'Abel', sans-serif;
}

.img-profile {
  width: 150px;
  border-radius: 75px;
}

.social_font {
   font-size: 36px;
   color: rgb(200, 200, 200);
}

.social_font:hover {
  color: rgb(190, 190, 190);
}

a {
  text-decoration: none;
}

.card {
  background-color: rgb(250, 250, 250);
  width: 600px;
  margin: 20px auto;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 6px 2px;
}

.homepage {
  background-color: #F24236;
  padding: 8px 8px;
  color: white;
  border-radius: 4px;
}

.homepage:hover{
  background-color: #C12E26;
}

@media (max-width: 720px) {
  /* For a screen < 960px, this CSS will be read */
  .card {
    width: 400px;
    margin: 16px auto;
    padding: 4px 8px;
  }
}
